<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CUSTOM STYLES -->

    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link
      rel="stylesheet"
      href="./assets/css/tablet.css"
      media="screen and (max-width: 991px)"
    />
    <link
      rel="stylesheet"
      href="./assets/css/mobile.css"
      media="screen and (max-width: 540px)"
    />

    <!-- /CUSTOM STYLES -->

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Boolzapp</title>
  </head>

  <body>
    <div id="app" class="container">
      <!-- CONTAINER SX -->

      <div class="left">
        <!-- Mie info -->
        <div class="header-left">
          <div class="header-left-logo">
            <img src="assets/img/avatar_io.jpg" alt="Mio avatar" />
          </div>
          <div class="header-left-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- /Mie info -->

        <!-- Notifiche desktop -->
        <div class="left-disclaimer">
          <div class="left-disclaimer-logo">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
          </div>
          <div class="left-disclaimer-text">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- /Notifiche desktop -->

        <!-- Barra di ricerca -->
        <div class="left-searchbar">
          <label class="search-label" for="search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </label>
          <input
            id="contacts-filter"
            class="left-searchbar-input"
            placeholder="Cerca o inizia una nuova chat"
            name="search"
          />
        </div>
        <!-- Barra di ricerca -->

        <!-- Contatti SINISTRA -->

        <div class="contacts">
          <!-- Ciclo v-for e @click -->
          <div
            class="contact"
            v-for="(curContact, index) in contacts"
            @click="changeActiveContact(index)"
          >
            <div class="contact-logo">
              <!-- Immagine dinamica -->
              <img
                :src="getContactAvatar(curContact)"
                :alt="`Avatar ${curContact.name}`"
              />
            </div>
            <div class="contact-info">
              <h3>
                <span class="contact-name">{{ curContact.name }}</span>
                <span class="time">16:15</span>
              </h3>
              <small>Lorem ipsum dolor sit amet</small>
            </div>
          </div>
        </div>

        <!-- /Contatti SINISTRA -->
      </div>
      <!-- /CONTAINER SX -->

      <!-- CONTAINER DX -->

      <div class="right">
        <!-- Info Contatto -->
        <div class="header-right">
          <div class="header-right-logo">
            <!-- Immagine Dinamica -->
            <img
              :src="'assets/img/avatar_' + (activeIndex + 1) + '.jpg'"
              alt=""
            />
            <h3>
              <span id="header-right-contact-name"
                >{{ contacts[activeIndex].name }}</span
              >
              <br />
              <small class="time">Ultimo accesso oggi alle 16:26</small>
            </h3>
          </div>
          <div class="header-right-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- /Info Contatto -->

        <!-- CHAT -->
        <div class="right-messages-container">
          <div class="right-messages">
            <!-- Utilizzo di v-for per iterare sui messaggi del contatto attivo -->
            <div
              v-for="(curMessage, index) in contacts[activeIndex].messages"
              :key="index"
              :class="['message', curMessage.status]"
            >
              <div class="message-inner">
                <span class="message-text">{{ curMessage.message }}</span>
                <div class="message-options">
                  <i class="fa fa-chevron-down"></i>
                  <div class="message-options-panel">
                    <div class="message-info">Info messaggio</div>
                    <div class="message-destroy">Cancella messaggio</div>
                  </div>
                </div>
              </div>
              <!-- Utilizzo di v-bind per legare dinamicamente l'ora del messaggio -->
              <span class="message-time">{{ curMessage.date }}</span>
            </div>
          </div>
        </div>
        <!-- /CHAT -->

        <div class="right-footer">
          <div class="right-footer-icon">
            <i class="far fa-smile"></i>
          </div>
          <input class="new-message-inputs" placeholder="Scrivi un messaggio" />
          <div class="right-footer-icon">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <!-- /contenitore dx -->
    </div>

    <!-- CUSTOM SCRIPT -->
    <script src="./assets/js/script.js"></script>
  </body>
</html>
